[package]
name = "smtc_windows"
version = "0.0.0"
edition = "2021"

[lib]
name = "smtc_windows"
path = "src/lib.rs"
crate-type = ["staticlib", "cdylib"]

[[bin]]
name = "smtc_windows_bin"
path = "src/main.rs"

[build-dependencies]
flutter_rust_bridge_codegen = "1.72.*"

[dependencies]
flutter_rust_bridge = "1.72.*"
windows = { version = "^0.48.0", features = [
  "Media",
  "Media_Playback",
  "Foundation",
  "Storage_Streams",
] }
anyhow = "1.0.*"
chrono = "0.4.*"
lazy_static = "1.4.*"